version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
    timezone: America/New_York
  open-pull-requests-limit: 99
- package-ecosystem: bundler
  directory: "/benchmarks"
  schedule:
    interval: daily
    time: "02:00"
    timezone: America/New_York
  open-pull-requests-limit: 99
